asgiref==3.8.1
certifi==2024.8.30
crispy-bootstrap4==2024.10
Django==5.1.7
django-crispy-forms==2.3
numpy==2.2.0
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
ucimlrepo==0.0.7
vboxapi==1.0
